/* ----------------------------------------HOME----------------------------------------- */

.custom_bg_1 {
    background-color: #1D1D1D;
}

.custom_bg_2 {
    background-color: #0D1B2A;
}

.custom_bg_3 {
    background-color: #48BFE3;
}

.custom_font_color_1 {
    color: #48BFE3;
}

.head {
    position: fixed;
    width: 100.5%;
}



/* Scrollbar styling for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1D1D1D; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #1D1D1D; /* Color of the scrollbar thumb */
    border-radius: 10px;
    border: 3px solid #1D1D1D; /* Adjusting the width of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #48BFE3; /* Color of the scrollbar thumb on hover */
}

/* Scrollbar styling for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #48BFE3 #1D1D1D;
}

/* Additional styling */
.con {
    scroll-behavior: smooth; /* Enables smooth scrolling */
    z-index: 20;
}

/* ----------------------------------------ABOUTME----------------------------------------- */

.my-pic {
    box-shadow: 0px 0px 8px 3px #48BFE3;
}

.event_shadow {
    box-shadow: 0px 0px 8px 3px #48BFE3;
    
}

.skill_shadow {
    box-shadow: inset 0px 0px 10px 4px #48BFE3;
}

.skill_shadow:hover {
    background-color: #0D1B2A;
}

/* ----------------------------------------ABOUTME----------------------------------------- */


.socmed:hover {
    transition: 0.2s ease-in;
    transform: scale(1.1);
}


/* ----------------------------------------Certification----------------------------------------- */

.min-h-cert {
    min-height: 80%;
}

.cert-head {
    height: 5%;
}


/* ----------------------------------------Projects----------------------------------------- */

.min_height_project {
    min-height: 600px;
}

@media only screen and (max-width: 1536px) {
    .min_height_project {
        min-height: 450px;
    }
}

@media only screen and (max-width: 1280px) {
    .min_height_project {
        min-height: 450px;
    }
}

@media only screen and (max-width: 1024px) {
    .min_height_project {
        min-height: 450px;
    }
}

@media only screen and (max-width: 768px) {
    .min_height_project {
        min-height: 450px;
    }
}

@media only screen and (max-width: 640px) {
    .min_height_project {
        min-height: 400px;
    }
}

@media only screen and (max-width: 384px) {
    .min_height_project {
        min-height: 400px;
    }
}

@media only screen and (max-width: 360px) {
    .min_height_project {
        min-height: 380px;
    }
}


